<% if @results.present? %>
    <ul class='companies col-md-4 media-list'>
      <h3>Companies</h3>
      <% @results.companies.each do |item| %>
          <li class=' media'>
            <h5 class='name media-heading'><%= item.name %></h5>
            <div class='description'><%= item.description %></div>
          </li>
      <% end %>
    </ul>
    <ul class='products col-md-4 media-list'>
      <h3>Products</h3>
      <% @results.products.each do |item| %>
          <li class=' media'>
            <h5 class='name media-heading'><%= item.name %></h5>
          </li>
      <% end %>
    </ul>
<% end %>