<div class='overview'>
  <%= @company.overview.html_safe %>
</div>

<div class="people">
  <% @company.people.each do |person| %>
  <div class='person'>
    <div class='role'><%= person.role %></div>
    <div class='first_name'><%= person.first_name %></div>
    <div class='last_name'><%= person.last_name %></div>
  </div>
  <% end %>
</div>